<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.system.mapper.SeatMapper">
    <resultMap id="BaseResultMap" type="com.sky.system.data.po.Seat">
        <id column="seat_id" jdbcType="BIGINT" property="seatId"/>
        <result column="train_id" jdbcType="VARCHAR" property="trainId"/>
        <result column="carriage" jdbcType="INTEGER" property="carriage"/>
        <result column="seat_num" jdbcType="INTEGER" property="seatNum"/>
        <result column="seat_type" jdbcType="VARCHAR" property="seatType"/>
    </resultMap>
    <sql id="SeatSql">
        SELECT seat_id,
               train_id,
               carriage,
               seat_num,
               seat_type
        FROM seat
    </sql>
    <delete id="deleteSeat">
        DELETE
        FROM seat
        WHERE train_id = #{trainId}
          AND carriage = #{carriage}
    </delete>
    <select id="selectSeat" resultMap="BaseResultMap">
        <include refid="SeatSql"/>
        WHERE train_id = #{trainId}
          AND carriage = #{carriage}
          AND seat_num = #{seatNum}
    </select>
    <select id="selectSeatByTrainId" resultMap="BaseResultMap">
        <include refid="SeatSql"/>
        WHERE train_id = #{trainId}
    </select>
    <select id="selectSeatList" resultMap="BaseResultMap">
        <include refid="SeatSql"/>
        WHERE train_id = #{trainId}
          AND carriage = #{carriage}
    </select>
</mapper>