<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>主页</title>
	</head>
	<body>
	<div class="rg_right">
		<table  class="rg_right" style="margin-top: 50px;margin-left: 100px;text-align: left">
			<tr>
				<td><div class="learn_sys"><a href="../teachsys.html"><img src="../img/a01.jpg">教学系统</a></div></td>
				<td><div class="salary_sys"><a href="主页.html"><img src="../img/a02.jpg">工资管理系统</a></div></td>
			</tr>
		</table>
	</div>
	</body>
</html>
