<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>首页</title>
<!--    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />-->
    <link rel="stylesheet" type="text/css" th:href="@{css/home.css}" />
</head>
<body>
<div class="rg_layout">
    <div class="rg_up">
        <div class="sign">
            <img th:src="@{/img/xpu.png}" style="border-radius:50%;"/>
            <tr>XXX管理系统</tr>
        </div>

    </div>
    <div class="rg_dowm">

        <div class="rg_left">
        </div>
        <div class="rg_right">
            <table  class="rg_right" style="margin-top: 50px;margin-left: 100px;text-align: left">
                <tr>
                    <td><div class="learn_sys"><a th:href="@{/teachSys}"><img th:src="@{img/a01.jpg}"></a></div></td>
                    <td><div class="salary_sys"><a th:href="@{/salary}"><img th:src="@{img/a02.jpg}"></a></div></td>
                </tr>
            </table>
        </div>
    </div>


</div>
</body>
</html>