<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>
<body>
<table>
    <thead>
    <tr>
        <th>cno</th>
        <th>grade</th>
        <th>tno</th>
        <th>删除</th>
    </tr>
    </thead>
    <tbody>
    <!--根据学号查询讲授的信息-->
    <tr th:each="teach: ${teachs}">
        <td th:text="${teach.cno}"></td>
<!--        <th th:text="${exam.getCno()}"></th>-->
        <td th:text="${teach.getGrade()}"></td>
        <td th:text="${teach.getTno()}"></td>
        <label style="color: red" th:text="${msg}"></label>
        <td>
            <a th:href="@{/deleteTeach/{cno}/{sno}(cno=${teach.cno},sno=${teach.sno})}" type="button">删除</a>
        </td>
    </tr>
    <button>
        <a th:href="@{returnDynamicStudent}">
            返回
        </a>
    </button>
<!--    <tr>
        &lt;!&ndash;跳转到增加学生界面&ndash;&gt;
        <a class="" th:href="@{addCourse.html}">
            增加课程信息
        </a>
        <a class="" th:href="@{updateCourse.html}">
            更新课程信息
        </a>
    </tr>-->
    </tbody>
</table>
</body>

</html>