<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- 2. jQuery导入，建议使用1.9以上的版本 -->
    <script src="../../static/js/jquery-2.1.0.min.js"></script>
    <!-- 3. 导入bootstrap的js文件 -->
    <script src="../../static/js/bootstrap.min.js"></script>
</head>
<body>
<table border="1" class="table table-bordered table-hover">
    <thead>
    <tr class="success">
        <th>课程号</th>
        <th>成绩</th>
        <th>教师号</th>
        <th>删除</th>
    </tr>
    </thead>
    <tbody>
    <!--根据学号查询讲授的信息-->
    <tr th:each="teach: ${teachs}">
        <td th:text="${teach.cno}"></td>
        <td th:text="${teach.grade}"></td>
        <td th:text="${teach.tno}"></td>
        <label style="color: red" th:text="${msg}"></label>
        <td>
            <a th:href="@{/deleteTeach(cno=${teach.cno},sno=${teach.sno})}" type="button">删除</a>
        </td>
    </tr>

    </tbody>

</table>
    <a class="btn btn-primary" th:href="@{returnDynamicStudent}">
        返回
    </a>
</body>

</html>