<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- 2. jQuery导入，建议使用1.9以上的版本 -->
    <script src="../../static/js/jquery-2.1.0.min.js"></script>
    <!-- 3. 导入bootstrap的js文件 -->
    <script src="../../static/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h3 style="text-align: center">教师信息列表</h3>
</div>

<table class="table table-bordered table-hover">
    <thead>
    <tr class="success">
        <th>tno</th>
        <th>tname</th>
        <th>sex</th>
        <th>wage</th>
        <th>accumulationFund</th>
        <th>oldpension</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher: ${teachers}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.tname}"></td>
        <td th:text="${teacher.sex}"></td>
        <td th:text="${titles.get((teacher.title)-1).getWage()}"></td>
        <td th:text="${titles.get((teacher.title)-1).getAccumulationFund()}"></td>
        <td th:text="${titles.get((teacher.title)-1).getOldPension()}"></td>
        <td>
            <a th:href="@{/deleteTeacher/{id}(id=${teacher.id})}" type="button">删除</a>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>