<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:method="http://www.w3.org/1999/xhtml">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

<form th:action="@{/updateStudent}" method="post">
    <tr>
        id: <input type="text" name="id"><br>
        name: <input type="text" name="name"><br>
        sex: <input type="text" name="sex"><br>
        age: <input type="text" name="age"><br>
        <label style="color: red" th:text="${msg}"></label>
        <button type="submit">提交</button>
    </tr>
</form>
<a class="" th:href="@{returnDynamicStudent}">
    <button>
        返回
    </button>
</a>

</body>

</html>